/* body {
    padding-top: 50px;  
}

body {
    padding-top: 50px; 
} */

/* All delay classes will take half the time to start */

:root {
    --animate-delay: 0.25s;
}

/* 新增便于使用的样式：相对位置，边缘距离 */

.position-relative {
    position: relative;
    /* relative的意思是，这个元素的子元素的位置会相对于这个元素 */
}

.margin-20 {
    margin: 20px;
}

.aboutUs-img {
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 100%;
    left: 10%
}

/* 同一元素的一组样式最好放在一起 */

.detail-img {
    position: right;
    z-index: 1000;
    width: 50px;
    height: 60px;
    left: 20%;
}

.detail-card {
    position: absolute;
    width: 500px;
    height: 50px;
    background-color: #eeeeee;
    border-radius: 12px;
    left: 80px;
    top: 5px;
    text-align: left;
    line-height: 50px;
    font-size: 18px;
}

.navbar-brand {
    padding: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.circle-container {
    position: relative;
    width: 60px;
    height: 100px;
}

.circle {
    position: relative;
    border-radius: 15px;
    background-color: #CCCCCC;
    width: 15px;
    height: 15px;
    top: 60%;
    left: 50%;
}

.aboutUs-circle {
    transform-origin: 0% 50%;
}

.step-success {
    background-color: #58e09c;
    box-shadow: 0 0 2px 2px #CCFF99;
}

.protein-container {
    position: relative;
    width: 150px;
    height: 225px;
}

.protein-img {
    position: absolute;
    z-index: 1000;
    width: 60%;
    height: 120px;
    left: 20%;
}

.protein-btn {
    position: absolute;
    ;
    text-align: center;
    top: 170px;
    left: 55px;
    z-index: 1001;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-image: url("../pic/plus.svg");
    background-color: white;
    background-size: contain;
}

.protein-btn:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.10), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.protein {
    position: relative;
    width: 120px;
    height: 150px;
    background-color: #DEDEE4;
    border-radius: 15px;
    top: 75px;
    left: 15px;
    text-align: center;
    line-height: 120px;
    font-size: 18px;
}

.section-padding{
    padding: 100px 0;
}

.menu-area{
    border-top: 1px solid #eee;
}

.meal-container {
    text-align: center;
    border: 1px solid #eee;
    padding: 25px;
    margin-top: 50px;
}


.meal-item-bg {
    background-color: #ddd;
    background-position: center;
    background-size: cover;
    height: 200px;
}

.meal-container:hover {
    box-shadow: 0 3px 9px -2px #d0cece
}

.meal-item-bg {
    background-image: url(../pic/saladPic3.jpg)
}

.meal-item-bg2 {
    background-image: url(../pic/saladPic1.jpg)
}

.meal-item-bg3 {
    background-image: url(../pic/saladPic2.jpg)
}

.meal-item-bg4 {
    background-image: url(../pic/saladPic4.jpg)
}

.meal-price{
    display: inline;
}

.meal-order-btn{
    display: inline-block;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid;
    padding: 8px 10px;
    float: right;
}


.meal2-container {
    position: relative;
    width: 300px;
    height: 230px;
    border: #7c9192;
    border-radius: 8px;
    background-size: contain;
}

.meal-btn {
    position: absolute;
    ;
    text-align: center;
    top: 100px;
    left: 40px;
    z-index: 1001;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-image: url("../pic/meal/buy.svg");
    background-color: white;
    background-size: contain;
}

.meal-btn:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.10), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.meal {
    position: relative;
    width: 300px;
    top: 75px;
    left: 15px;
    text-align: center;
    line-height: 120px;
    font-size: 18px;
}

.aboutUsBg {
    position: relative;
    background-image: url("../pic/aboutUs/banner.jpg");
    background-size: contain;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.overlay-nocolor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.width-75 {
    position: absolute;
    width: 75%;
}

.navbar-brand>img {
    padding: 15px;
    height: 100%;
}

/*导航高度*/

@media (min-width: 768px) {}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        overflow: hidden !important;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-collapse *[class*='navbar-'] {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/*高度*/

.navbar {
    min-height: 80px;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}

/*步骤条*/

.step {
    position: relative;
    vertical-align: top;
    display: inline-block;
}

.step-head {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 19px;
    text-align: center;
    vertical-align: top;
    color: #bfcbd9;
    font-size: 14px;
    border: 2px solid #bfcbd9;
    z-index: 10000;
}

.step-main {
    font-size: 12px;
    color: #48576a;
}

.step-line {
    position: absolute;
    top: 9px;
    height: 5px;
    left: 22px;
    right: -5px;
    display: inline-block;
    background-color: #bfcbd9;
    z-index: 10000;
}

.step-circle {
    margin: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bfcbd9;
}

.is-sucess>.step-head {
    color: #2f318e;
    border-color: #2f318e;
}

.is-sucess>.step-head .step-circle {
    background-color: #2f318e;
}

.is-sucess>.step-head>.step-line {
    background-color: #2f318e;
}

.last-sucess>.step-head {
    color: #2f318e;
    border-color: #2f318e;
}

.last-sucess>.step-head .step-circle {
    background-color: #2f318e;
}

.arrow-right {
    width: 30px;
    height: 30px;
    border-top: 5px solid #ccc;
    border-left: 5px solid #ccc;
    transform: rotate(135deg)
}

.arrow-left {
    width: 30px;
    height: 30px;
    border-top: 5px solid #ccc;
    border-left: 5px solid #ccc;
    transform: rotate(-45deg)
}

.arrow-btn{
    position: relative;
    top: 60%;
}

.sidebar-btn {
    width: 20px;
    height: 20px;
    border-top: 5px solid white;
    border-left: 5px solid white;
    transform: rotate(135deg);
    position: absolute;
    left: 10px;
    top: 10px;
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* .sidebar-btn {
    position: absolute;
    text-align: center;
    top:20px;
    z-index: 1001;
    right: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    border-radius: 40px;
    background-size: contain;
} */

.sidebar-btn:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.10), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


#sidebar {
    width: 30%;
    min-height: 100vh;
    position: fixed;
    right: 0;
    z-index: 2000;
}

.sidebar-login-btn{
    width: 140px;
    height: 50px;
    padding: 20px 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.sidebar-signup-btn{
    width: 140px;
    height: 50px;
    padding: 20px 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: lightgreen;
}

.form-label{
    font-size: 15px;
    text-align: left;
}

.form-check-label{
    font-size: 15px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

/* a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
} */

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background-image: url("../pic/saladPic3.jpg");
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

/* #username{
    padding: 20px;
}

#password{
    padding: 20px;
} */

#username,#password{
}

.login-inputs{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
}
.signup-inputs{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
}

.footer-area{
    background: #1E201F;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo{
    padding: 12px;
    text-align: center;
}


.social-area{
    padding: 12px;
}

.social-area .fab{
    margin-left: 10px;
    font-size: 20px;
}

@font-face{
    font-face:'Anton', sans-serif;  /*自定义字体名称*/
    font-weight:normal;  /*定义字体粗细*/
    font-style:normal;  /*定义字体样式*/
｝
